[Unit]
Description={{ description }}
After=network.target network-online.target
Wants=network.target network-online.target
Requires=network-online.target

[Service]
{% if systemd_user is defined %}
{{ systemd_user }}
{% endif %}
{% if systemd_group is defined %}
{{ systemd_group }}
{% endif %}
Type=simple
{% if upload_way == "no_dependency" %}
{% set project_dir = project_name %}
{% else %}
{% set project_dir = "/" %}
{% endif %}
{% if jrebel_enable is defined and jrebel_enable == "true" %}
{{ "ExecStart=java -DLOG_DIR={}/logs -agentpath:{}/jrebel/lib/libjrebel64.so -Drebel.remoting_plugin=true -jar {}/{}/{}".format(dest_path, dest_path, dest_path, project_dir, jarfile) }}
 {% else %}
{{ "ExecStart=java -DLOG_DIR={}/logs -jar {}/{}/{}".format(dest_path, dest_path, project_dir, jarfile) }}
{% endif %}

Restart=on-failure
ProtectSystem=strict
PrivateTmp=true

[Install]
WantedBy=multi-user.target